<!DOCTYPE html>
<html>
  <head>
    <title>CarRent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="<%= current_page?(root_path) ? 'body-home' : ''%> text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= render 'layouts/menu' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
